.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___root ul {
  margin: 0;
  padding: 0;
  color: #f8f9f4;
  list-style: none;
  font-size: 24px;
}

.fighter-preview___root img {
  width: 75%;
}